.faq-section{
    position: relative;
    top:63px;
    width: 100%;
    height: 38vw;
}
.faq-heading-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.faq-paragraph{
    width: 41vw;
}
.accordian-container{
    position: relative;
    top:46px;
    width: 80%;
    margin: auto;
    display: flex;
    gap:20px;
}
.faq-no{
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E9ECED;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-accordian{
    width: 50%;
    height: 100%;
}
.right-accordian{
    width: 50%;
    height: 100%;
}
.faq-heading{
    font-family: 'Noto Serif';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 86px;
display: flex;
align-items: center;
letter-spacing: -0.04em;
color: #1C2122;

}
.faq-paragraph{
    padding-left:25px;
font-family: 'General Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

display: flex;
align-items: center;
color: #323C3E;

}